/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 22, 2015, 12:11:12 PM
    Author     : Harshil Patel
*/


.background-image {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
//background-image: url('http://thumbs.dreamstime.com/z/beautiful-woman-retail-computer-store-27707792.jpg');
    background-image: url("../images/backgroundpage.jpg");
//background-image: url('https://biblio.laurentian.ca/research/sites/default/files/pictures/LU_Day2_Sept2010-4717.jpg');

    width: 100%;
    height: 800px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    background-attachment:scroll;
}

#hor, #charg, #pay{
    display: none;
}
.myTable, .myTable1{
    border: solid 1px;
    background-color: lightyellow;
    color: white;
//padding: 5px;

}
td{
    padding: 5px;
}
/* tr:nth-child(even) */
tr.even { background-color: lightsalmon; }
/* tr:nth-child(odd) */
tr.odd { background-color: lightcoral; }

.content-con {
    position: relative;
    left: 0;
    right: 0;
    z-index: 9999;
}
.heading {
    margin: 0%;
    padding: 0%;
    width: 100%;
    text-align: center;
    background: transparent;
//color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
.heading-tabs {
    padding-top: 1%;
    width: 100%;
    text-align: center;
    background: transparent;
//color: white;
    background-color: rgba(0, 0, 0, 0.7);
}
.slideimages{
    padding: 0%;
    margin-top: -1.6%;
    width: 100%;
    background: transparent;
//color: white;
//background-color: rgba(0, 0, 0, 0.5);
    background-color: white;}
.heading-rotater {
    margin-left: 35%;
}

.f-color{
    color: lightyellow;
    font-family: sans-serif;
}
.f-style{
    font-weight: bold;
    font-size: 20px;
// border: 2px solid;
}
.f-style-small{
    font-weight: bold;
    font-size: 15px;
// border: 2px solid;
}
.f-border{
    padding-top: 1%;
    padding-left: 1%;
}
.f-border_cls{
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.f-backside{
    color: white;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.4);
}

.a-width{
// width: 65%;
// padding-top: 2%;
    float: left;
    width: 65%;
}

.forum-courses-width{
    float: left;
    width: 15%;
}

.forum-course-posts-width{
    float: left;
    width: 75%;
}

.a-aside{
//padding-top: 2%;

    float: right;
    width:32%;
}
.l-width{
// width: 65%;
// padding-top: 2%;
    float: left;
    width:85%;
}
.t-aside{
//padding-top: 2%;

    float: right;
    width:35%;
    margin-right: 45%;
}
body{

    font-family: sans-serif;
    font-weight: bold;
}
.table-font{

    font-weight: bold;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}
.table-font a{
    font-size: 18px;
}
h1{
    color: white;
    background: transparent;
    background-color: rgba(0,255,0,0.5);
    border: 2px solid;
}
.top-nav{
    margin-right: 5%;
    display: inline;
    padding-top: 5px;
}
.top-nav_clscls{
    margin-right: 5%;
    display: inline;
// padding-top: 5px;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.back-head{
    padding-bottom: 0.5%;
}
.bcolor{
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}
h5{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.prof_heading{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
img.ri
{
    position: relative;
    max-width: 40%;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}
#botoes li{
    margin-right: 2%;
    display: inline;
    list-style-type: none;
// padding-right: 5px;
    vertical-align: top;
//border-radius: 5px;
    /* position: relative;
            max-width: 50%;
            border-radius: 5px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.5);*/
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #050505;
    -webkit-box-shadow: 0px 10px 14px -7px #050505;
    box-shadow: 0px 10px 14px -7px #050505;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #090a0a), color-stop(1, #31494d));
    background:-moz-linear-gradient(top, #090a0a 5%, #31494d 100%);
    background:-webkit-linear-gradient(top, #090a0a 5%, #31494d 100%);
    background:-o-linear-gradient(top, #090a0a 5%, #31494d 100%);
    background:-ms-linear-gradient(top, #090a0a 5%, #31494d 100%);
    background:linear-gradient(to bottom, #090a0a 5%, #31494d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#090a0a', endColorstr='#31494d',GradientType=0);
    background-color:#090a0a;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #42647a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:3px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #738c94;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #31494d), color-stop(1, #090a0a));
    background:-moz-linear-gradient(top, #31494d 5%, #090a0a 100%);
    background:-webkit-linear-gradient(top, #31494d 5%, #090a0a 100%);
    background:-o-linear-gradient(top, #31494d 5%, #090a0a 100%);
    background:-ms-linear-gradient(top, #31494d 5%, #090a0a 100%);
    background:linear-gradient(to bottom, #31494d 5%, #090a0a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#31494d', endColorstr='#090a0a',GradientType=0);
    background-color:#31494d;
}
.myButton:active {
    position:relative;
    top:1px;
}

.table {
    width: 100%;
}
.round-img{
    border: 2px solid;
    border-radius: 75px;
}
.img-left-space{
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.prof-portfolio-setting{
    padding-right: 40%;
    float: right;
    padding-top: 2.5%;
//width:82%;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}
.rating_profile_left{
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    float: left;
    width:5%;
}
.rating_profile_right{
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    float: right;
    width:70%;
    margin-right: 10%;
}
.img-radius{
    border-radius: 55px;
}

.right_comments{
    float: right;
    width:35%;
}
.left_comments{
    float: left;
    width:55%;
}
.right_name_prof{
    float: right;
    width:45%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 3.5%;
}
.right_name_prof1{
    float: right;
    width:45%;
    margin-right: 30%;
//margin-top: 3%;
    margin-bottom: 5.5%;
}
.right_smily{
    float: left;
    width:10%;
    margin-left: 5%;
// margin-right: 35%;
    margin-top: 1%;
//margin-bottom: 3.5%;
}
.left_prof_img{
    float: left;
    width:20%;
}
.left_prof_img1{
    float: left;
    width:20%;
    margin-left: 5%;
}
.chart-top-margin{
    margin-top: 15%;
}
.width-textbox{
    width:250%;
}
.width-textar{
    width:400%;
}
.feedback_link_style{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 20px;

// border-style: dashed;
}
.post-rating-btn{
    margin-left: 40%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 20px;
}

.left_banner_img{
    float: left;
    width:30%;

}
.right_banner_dec{
    float: right;
    width:65%;
    margin-right: 5%;
}
.banner_shape{
    padding-top: 10%;
    border-radius: 5px;
    padding-bottom: 5%;
}
#exampleSlider {overflow: hidden; list-style: none; padding: 0; margin: 0;}
#NewsSlider {overflow: hidden; list-style: none; padding: 0; margin: 0;}
.title_heading{
    margin-left: 18%;
}
.news_left_title{
    margin-top: 3%;
    float: left;
    width:30%;
    margin-bottom: 3%;
    color: white;
}
.news_right_data{
    margin-top: 3%;
    float: right;
    width:65%;
    margin-bottom: 3%;
    color:#FFF;
    margin-right: 2%;
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;

}
.img_resize{
    height:2%;
}
.back_news_slider{
    background-color: rgba(200, 200, 200, 0.59);
}
.news_margin{
    margin-left: 5%;
    margin-right: 5%;
}




